.nav {
    position: fixed;
    background-color: var(--dark-color);
    width: 100%;
    z-index: 999;
    bottom: 0;
}
.nav-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}
.nav-item {
    color: var(--dark-color-tint);
    flex:1 1 0;
}
.nav-item a {
    color: var(--dark-color-tint);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}
.nav-item a:hover, 
.nav-item a:focus {
    background-color: var(--primary-color);
    color: var(--light-color);
    transform: scale(1.1);
    box-shadow: 0 1.1rem 1rem -1rem var(--dark-color-shade);
}
.nav-logo {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    padding: 1rem;
    background-color: var(--dark-color);
    border-radius: 50px;
}
.logo{
    width: 100%;
    height: auto;
}
/* Horizontal Ipad & up */
@media screen and (min-width: 1024px) {
    .nav {
        top: 0;
        bottom: auto;
    }
    .nav-container {
        justify-content: flex-end;
        align-items: center;
        padding: 0 6.4rem;
    }
    .nav-item {
        max-width: 14%;
        min-width: 15rem;
    }
    .nav-logo {
        align-self: center;
        margin-right: auto;
        position: inherit;
        padding: 0;
        width: auto;
        height: auto;
    }
    .nav-logo path {
        fill: var(--dark-color-tint);
        transition: 0.3s;
    }
    .nav-logo:hover path, 
    .nav-logo:focus path{
        fill: var(--light-color);
    }
    .nav-logo:hover path:first-of-type, 
    .nav-logo:focus path:first-of-type{
        fill: var(--primary-color);
    }
}