.secondary{
    margin-left: 1rem;
    padding-left: 1rem;
}
.secondary::after{
    content:'';
    opacity: 1;
    margin-left: 1rem;
}

.secondary:hover, .secondary:focus{
    color: var(--light-color);
    background-color: var(--primary-color);
}

@media screen and (min-width:1025px){
    .secondary{
        transition: all cubic-bezier(0.04, 0.52, 0.22, 1) 0.6s;
        margin-left: 3rem;
        align-self: center;
        border-left: 4px solid var(--primary-color);
    }
    .secondary::before{
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color-gradient) 100%);
        transition: all cubic-bezier(0.04, 0.52, 0.22, 1) 0.3s;
    }
    .secondary::after{
        content:'';
        opacity: 0;
        transition: all cubic-bezier(0.04, 0.52, 0.22, 1) 0.6s;
    }
    .secondary:hover, .secondary:focus{
        background-color: transparent;
        color: var(--light-color);
    }
    .secondary:hover::before, .secondary:focus::before {
        width: 100%;
    }
    .secondary:hover::after, .secondary:focus::after, .secondary:active::after{
        opacity: 1;
    }
    .secondary:active {
        transform:none;
        box-shadow: none;
        transition: all cubic-bezier(0.04, 0.52, 0.22, 1) 0.1s;
    }
}