.contact {
    background-color: var(--dark-color);
    height: 80vh;
    min-height: calc(100vh - 246px);
}

.contact h2,
.contact p {
    color: var(--light-color);
}

.contact p + p{
    margin:0;
}