.project-page {
    justify-self: center;
    margin: 7rem 0;
    text-align: left;
    align-items: flex-start;
}

.md * {
    margin: 0;
    padding: 0;
}


.md h2 {
    font-size: var(--mobile-mid-font-size);
    border-left: 1rem solid var(--primary-color);
    border-bottom: 0.3rem solid var(--primary-color);
    border-top-left-radius: 2rem;
    padding-left: 1rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
    width: 75%;
}
.md p {
    padding-bottom: 1.4rem;
}

.md li {
    list-style-type: disc;
    margin-left: 1.6rem;
    padding: 0.4rem 0.8rem;
}

.node-navigation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'prev next';
}
.next {
    grid-area: next;
    justify-self: end;
    text-align: right;
    line-height: 1.15;
}
.previous {
    grid-area: prev;
    justify-self: start;
    text-align: left;
    line-height: 1.15;
}
.node {
    color: var(--dark-color-tint);
    text-transform: uppercase;
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;

}
.node i {
    padding: 0 1.2rem;
} 
.node:hover, .node:focus {
    color: var(--primary-color);
}

/*___ Figure|Photo Arrangements ___*/

.individual {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.individual span {
    width: 70%;
}
.individual figcaption {
  align-self: flex-end;
  border-left: 1rem solid var(--primary-color);
  padding: 2rem 1rem;
  margin-left: 2rem;
  font-size: var(--mobile-default-font-size);
}

.triptych{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3.2rem;
}
.triptych figure{
    flex: 0 2 21rem;
    margin: 2rem auto;
}
.triptych figure span{
    box-shadow: 0 2px 3px lightgrey;
}

.triptych figcaption{
    color: var(--dark-color-tint);
    font-size: var(--ipad-default-font-size);
    font-weight: bold;
    border-bottom: 4px solid var(--primary-color);
    width: 80%;
    margin-bottom: 0.6rem;
}

@media screen and (min-width: 768px) {
    .project-page {
        margin-top: 16rem;
    }
    .md { 
        font-size: 3.6rem; 
    }
    .md h2 {
        font-size: var(--ipad-mid-font-size);
        border-left-width: 1.3rem;
        border-bottom-width: 0.4rem;
        border-top-left-radius: 3rem;
        margin-top: 7.2rem;
        width: 48%;
        padding-left: 2rem;
        margin-bottom: 3.2rem;
    }
    .md p {
        padding-bottom: 3.2rem;
    }
    .md li {
        margin-left: 3.6rem;
        padding: 0.8rem 1.2rem;
    }
    
    .individual {
        justify-content: center;
    }
    .individual span {
        width: 25%;
        margin: 0 !important;
    }
    .individual figcaption {
        width: 20%;
    }
}