.portfolio{
    padding-top: 13rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}
.port-list{
    flex-direction: column;
}

.project-tile{
    border-bottom: 0.2rem solid var(--dark-color-tint);
}

.project-tile:hover, .project-tile:focus{
    background-color: var(--dark-color-tint);
    transform: scale(1.01);
    padding: 2rem 0;
    box-shadow: 0 1.2rem 3px -1rem var(--dark-color-shade);
}

.project {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
}

.project-title, 
.project-description{
    color: var(--light-color);
    text-align: left;
}

.project-title {
    line-height: initial;
}
.project-description {
    padding-bottom: 1rem;
}

.project-img {
    width: auto;
    height: 100%;
}
.tags {
    display: flex;
    flex-wrap: wrap;    
}
.tag:after{
    content:'|';  
    padding-left: 1rem;  
    margin-right: 1rem;
}
.tag:last-child:after {
    content: ''
}
@media screen and (min-width: 768px){
    .project-tile{
        transition: all 0.3s ease-out .1s;
    }
    .project-tile:hover, .project-tile:focus {
        transition: all 0.3s ease-out .1s;
    }
}
@media screen and (min-width: 1024px){
    .project{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .project-img {
       width: 36rem;
       height: 100%;
    }
}