.about h2, 
.about p {
    color: var(--primary-dark);
}

.icons{
    color: var(--secondary-dark);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2.4rem;
    max-width: 720px;
    align-self: center;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px){
    .about p{
        text-align: left;
    }
    .about > div{
        display: flex;
        width: 100%;
    }
    .description{
        align-items: flex-start;
    }
    .portrait {
        margin-right: 2rem;
    }
    .shape{
        height: 25vw;
        width: 25vw;
        max-width: 400px;
        clip-path: margin-box polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0);
        background: conic-gradient(#e6a522 118.75deg, #e67422 118.75deg 180deg, #e68422 180deg 241.25deg, #e69522 241.25deg);
        position: relative;
    }
    .shape:before{
        content: '';
        height: calc(25vw - 9.5%);
        width: calc(25vw - 9%);
        max-width: calc(400px - 9%);
        background: #a77613;
        clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0);
        display: block;
        position: absolute;
        top: 4%;
        left: 4.5%;
    }
    .shape:after{
        content: '';
        height: calc(25vw - 10%);
        width: calc(25vw - 10%);
        max-width: calc(400px - 10%);
        clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0);
        background: url("https://i2.wp.com/assets.codepen.io/internal/avatars/users/default.png?ssl=1") center center no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        top: 5%;
        left: 5%;
      }
      

}
