.about > h2, 
.about > p {
    color: var(--primary-dark);
}

.icons{
    color: var(--secondary-dark);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2.4rem;
    max-width: 720px;
}