.about {
    min-height: 100vh;
    height: 100vh;
}

.about > h2, 
.about > p {
    color: var(--primary-dark);
}

.icons{
    color: var(--secondary-dark);
    display: flex;
    justify-content: space-around;
    width: 100%;
}