.btn {
    font-weight: 700;
    font-size: 1.8em;
    color: var(--primary-color);
    padding: 0.5em 1em;
}

.btn:hover, .btn:focus{
    background-color: var(--primary-color);
    color: var(--primary-light);
}

.primary {
    border: 4px solid var(--primary-color);
    border-radius: 2px;
}