h1 {
    color: var(--primary-light);
    font-size: 3.6em;
    font-weight: 700;
}
.hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--primary-dark);
    padding: 0 2.4em;
}