li{
    font-size: 1.8em;
    flex-grow:1;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--secondary-dark);
    padding: 0.8em;
    display: flex;
    flex-direction: column;
}

a:hover, 
a:active {
    background-color: var(--primary-color);
    color: var(--primary-light);
}

/* Horizontal Ipad & up */
@media screen and (min-width: 1024px) {
    li{
        max-width: 14vw;
    }
    li:first-of-type{
        position: absolute;
        left: 6.4rem;
        font-size: 2em;
    }
    a{
        padding-top: 1em;
    }
}
