.portfolio{
    padding-top: 13rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}
.portfolio ul{
    flex-direction: column;
}


h3{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 0;
}

p{ 
    font-weight: 500;
}

.projectTile{
    border-bottom: 0.2rem solid var(--dark-color-tint);
}

.projectTile:hover, .projectTile:focus{
    background-color: var(--dark-color-tint);
    transform: scale(1.01);
    padding: 2rem;
}

.projectTile article {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.projectTile h1, 
.projectTile p{
    color: var(--light-color);
    text-align: left;
}

.tags {
    display: flex; 
}

.tags h3 + h3:before{
    padding: 1rem;
    content:'|';
}
@media screen and (min-width: 768px){
    .projectTile{
        transition: all 0.3s ease-out .1s;
    }
    .projectTile:hover, .projectTile:focus {
        transition: all 0.3s ease-out .1s;
    }
}
@media screen and (min-width: 1024px){
    .projectTile article{
        flex-direction: row;
        justify-content: space-between;
    }
    .projectTile div ~ div {
        margin-left: 2rem;
    }
}