nav {
    position: fixed;
    background-color: var(--dark-color);
    width: 100vw;
    z-index: 999;
    bottom: 0;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}


nav li {
    font-size: 1.8rem;
    flex-grow:1;
    font-weight: 700;
    color: var(--dark-color-tint);
}

nav a {
    color: var(--dark-color-tint);
    padding: 2rem 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    
}
nav a:hover, 
nav a:focus {
    background-color: var(--primary-color);
    color: var(--light-color);
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

/* Horizontal Ipad & up */
@media screen and (min-width: 1024px) {
    nav{
        top: 0;
        bottom: auto;
    }
    
    nav ul{
        justify-content: flex-end;
        align-items: center;
        padding: 0 6.4rem
    }

    nav li{
        max-width: 14vw;
    }

    nav li:first-of-type{
        position: absolute;
        left: 6.4rem;
        font-size: 2rem;
    }
}
