footer {
    min-height: 150px;
    padding: 2.4rem;
    background-color: var(--dark-color);
    color: var(--dark-color-tint);
    display: flex;
    flex-direction: column;
}

footer > p {
    color: var(--dark-color-tint);
    margin: 0;
    font-size: inherit;
    text-align: center;
}

hr {
    width: 200px;
    color: var(--dark-color-tint);
    background-color: var(--dark-color-tint);
    border-style: solid;
}

.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons > a {
    padding: 0 1.8rem 0.5rem;
    color: var(--dark-color-tint);
    transition: .2s ease-in-out;
}

.socialicons > a:hover, 
.socialicons > a:focus {
    color: var(--primary-color-tint);
    background-color: var(--dark-color);
    transform: scale(1.2);
}

@media screen and (min-width:1024px) {
    footer{
        justify-content: center;
    }
}