@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* Font Size, Weight, Family, Line-height, Text-deco, Text-transform */

h1, h2 {
    font-size: var(--mobile-big-font-size);
    font-weight: 700; 
}
.subH2 {
    font-size: var(--mobile-mid-font-size)
}
h3, p, a, li, .tag {
    font-size: var(--mobile-default-font-size);
    line-height: 1.75;
}

h3 {
    color: var(--primary-color);
}

a, a:link, a:hover, a:visited, a:active  {
    text-decoration: none;
}

a:hover, a:focus {
    transition: all 0.2s ease-out;
}

.social-icon, .skill-icon {
    font-size: var(--mobile-mid-font-size);
}
.footer-text {
    font-size: 1.4rem;
}

.btn, .nav-item {
    font-size: var(--mobile-default-font-size);
    font-weight: 700;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.description {
    text-align: left;
}

.project-title {
    font-size: var(--mobile-mid-font-size);
    line-height: initial;
}

@media screen and (min-width:768px) {
    h1, h2 {
        font-size: var(--ipad-big-font-size);
    }
    .subH2 {
        font-size: var(--ipad-mid-font-size)
    }  
    .md h2 {
        font-size: var(--ipad-mid-font-size);
    }
    h3, p, a, li {
        font-size: var(--ipad-default-font-size);
        line-height: 1.4;
    }
    .btn, .nav-item {
        font-size: var(--ipad-default-font-size);
    }
    .social-icon, .skill-icon {
        font-size: var(--ipad-mid-font-size);
    }
    .project-title {
        font-size: var(--ipad-mid-font-size);
    }
}